/* assets/style.css */

/* Style the sliders */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px; /* Slightly thicker slider */
    background: #444;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 3px; /* Rounded corners */
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #333;
    cursor: pointer;
    border: 1px solid #888;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #333;
    cursor: pointer;
    border: 1px solid #888;
    border-radius: 50%;
  }
  
  /* Hide the slider marks and value labels */
  .rc-slider-mark,
  .rc-slider-mark-text {
    display: none !important;
  }
  
  /* Style the slider track */
  .rc-slider-track {
    background-color: #666;
    height: 6px;
    border-radius: 3px;
  }
  
  /* Style the slider handle (thumb) when active */
  .rc-slider-handle:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  /* Style the slider rail (the unselected portion) */
  .rc-slider-rail {
    background-color: #444;
    height: 6px;
    border-radius: 3px;
  }
  
  /* Remove the outline from the handle */
  .rc-slider-handle {
      border: solid 1px #888;
  }
  